doctype html
html(lang='ja')

	head
		meta(charset='utf-8')
		title Frost - #{user.name}さんのページ
		include includes/head
		link(rel='stylesheet', href='/styles/user.css')

	body
		frost-header

		.content
			.side
				h1 #{user.name} @#{user.screenName}
				h2 Description:
				p #{user.description}
				frost-follow-button(data-target-id=user.id)
			.main
				h1 #{user.name}さんの投稿
				frost-user-timeline(data-user-id=user.id)

		frost-footer

		script(src='/bundle.js')
